:root {
    --black: #000000;
    --red: #ff5555;
    --green: #50fa7b;
    --yellow: #f1fa8c;
    --blue: #bd93f9;
    --purple: #ff79c6;
    --cyan: #8be9fd;
    --white: #bbbbbb;
    --brightBlack: #555555;
    --brightRed: #ff5555;
    --brightGreen: #50fa7b;
    --brightYellow: #f1fa8c;
    --brightBlue: #bd93f9;
    --brightPurple: #ff79c6;
    --brightCyan: #8be9fd;
    --brightWhite: #ffffff;
    --background: #1e1f29;
    --foreground: #f8f8f2;
    --selectionBackground: #44475a;
    --cursorColor: #bbbbbb;
}

@font-face {
    font-family: 'Ubuntu Mono';
    src: url('UbuntuMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: "Ubuntu Mono", monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 16pt;
}

.layout {
    width: 100%;
    height: 100vh;
    display: grid;
    grid: "header" auto "main" 1fr "footer" auto / 1fr;
    gap: 0px;
    overflow: hidden;
    background-color: var(--background);
    color: var(--foreground);
}

.header {
    grid-area: header;
    padding: 10px;
    border-bottom: 1px solid var(--brightBlack);
}

    .header .logo {
        float: left;
    }

/*nav*/
nav {
    margin: 0px auto;
    width: 400px;
}

.navbar {
    padding: 0;
    margin: 0;
    list-style: none;
}

    .navbar > li {
        display: inline-block;
        position: relative;
    }

        .navbar > li > a {
            display: block;
            padding: 14px 20px;
            color: white;
            text-decoration: none;
        }

    .navbar li a:hover {
        background-color: var(--purple);
    }

    /* First level dropdown */
    .navbar li ul {
        display: none;
        position: absolute;
        background-color: var(--blue);
        min-width: 160px;
        list-style: none;
        padding: 0;
        z-index: 1000;
    }

    .navbar li:hover > ul {
        display: block;
    }

    .navbar li ul li {
        position: relative;
    }

        .navbar li ul li a {
            display: block;
            padding: 12px 16px;
            color: white;
            text-decoration: none;
        }

            .navbar li ul li a:hover {
                background-color: var(--purple);
            }

        /* Second level dropdown */
        .navbar li ul li ul {
            top: 0;
            left: 100%;
            display: none;
            position: absolute;
            background-color: var(--blue);
        }

        .navbar li ul li:hover > ul {
            display: block;
        }

/*main*/
.main {
    grid-area: main;
    overflow: auto;
    padding-left: 10px;
    padding-top: 10px;
}

.loader {
    grid-area: main;
    overflow: auto;
    z-index: 99999;
    background-color: var(--background);
    visibility: collapse;
    margin: 0px auto;
    margin-top: 10%;
}

.loader-spinner {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.footer {
    border-top: 1px solid var(--brightBlack);
    grid-area: footer;
}

.suggest {
    font-size: 16pt;
    font-family: "Ubuntu Mono", monospace;
    padding: 5px;
}

    .suggest a {
        text-decoration: none;
        color: var(--yellow);
    }

.input {
    padding: 10px;
    width: 99%;
    border: 0px;
    background-color: var(--background);
    color: var(--foreground);
    font-family: "Ubuntu Mono", monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 16pt;
}

/*Response formatting*/

.main .response {
    border-bottom: 1px solid var(--brightBlack);
}

.main .prompt {
    color: var(--white);
    margin-bottom: 0px;
    font-style: italic;
    opacity: 0.8;
}

.main .result {
    margin-left: 5px;
    font-style: italic;
    color: var(--green);
}

    .main .result svg {
        margin-top: 15px;
    }

.main .error {
    margin-left: 20px;
    color: var(--red);
}

.main a {
    text-decoration: none;
    color: var(--blue);
}

    .main a:hover {
        text-decoration: underline;
        color: var(--brightBlue);
    }

.main .table {
    width: 50%;
}

    .main .table th {
        background: var(--foreground);
        color: var(--background);
        text-align: center;
    }

    .main .table td {
        text-align: center;
    }
