
:root {
  --black: #181A1F;
  --red: #FF16B0;
  --green: #929292;
  --yellow: #fcee54;
  --blue: #46BDFF;
  --purple: #FF92DF;
  --cyan: #df81fc;
  --white: #FFFFFF;
  --brightBlack: #FF16B0;
  --brightRed: #f85353;
  --brightGreen: #fcee54;
  --brightYellow: #ffffff;
  --brightBlue: #46BDFF;
  --brightPurple: #FF92DF;
  --brightCyan: #ff901f;
  --brightWhite: #ffffff;
  --background: #070825;
  --foreground: #46BDFF;
}

body.light-theme {
  --black: #3e3e3e;
  --red: #970b16;
  --green: #07962a;
  --yellow: #f8eec7;
  --blue: #003e8a;
  --purple: #e94691;
  --cyan: #89d1ec;
  --white: #ffffff;
  --brightBlack: #666666;
  --brightRed: #de0000;
  --brightGreen: #87d5a2;
  --brightYellow: #f1d007;
  --brightBlue: #2e6cba;
  --brightPurple: #ffa29f;
  --brightCyan: #1cfafe;
  --brightWhite: #ffffff;
  --background: #f4f4f4;
  --foreground: #3e3e3e;
  --selectionBackground: #a9c1e2;
  --cursorColor: #3f3f3f;
}
